<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hanabi!</title>
    <link href='/stylesheets/styles.css' rel='stylesheet'>
    <% include ./partials/header %>
  </head>
  <body>
    <%- body %>
    <div id="mountNode"></div>
    <script src='/app.js'></script>

    <% include ./partials/footer %>
  </body>
</html>
